<footer class="footer-wrapper">
  <div class="footer-content">
    <div class="footer-section brand">
      <h3>Healthy</h3>
      <p>Transformando vidas, un hábito a la vez.</p>
    </div>
    <div class="footer-section social">
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=61568702130831" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://x.com/HealthyLF24" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/healthyygroup/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Healthy. Todos los derechos reservados.</p>
    <nav>
      <a href="policy">Política de Privacidad</a>
      <a href="/terms">Términos de Uso</a>
    </nav>
  </div>
</footer>